{% extends "layout.html" %}
{% block body_content %}
	<h1>{{ current_user.first_name }} {{ current_user.last_name}} Account Page</h1>
	<p>Update your account details</p>
	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.username.label }}
				{% if form.username.errors %}
					{{ form.username }}
					<div class="error">
						{% for error in form.username.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.username }}
				{% endif %}
			</div>
			<br>
			<div class="form-group">
				{{ form.email.label }}
				{% if form.email.errors %}
					{{ form.email }}
					<div class="error">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.email }}
				{% endif %}
			</div><br>
			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>
<br>
{% endblock body_content %}
